{% block form_stylesheet %}
{% spaceless %}
    {% for child in form %}
        {{ form_stylesheet(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_stylesheet %}

{% block devmachine_date_widget %}
{% spaceless %}
    {% if inline %}
        {{ block('devmachine_date_widget_inline') }}
    {% elseif input_addon %}
        {{ block('devmachine_date_widget_addon') }}
    {% else %}
        {{ block('form_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block devmachine_date_widget_addon %}
{% spaceless %}
    <div id="{{ id }}-container" class="input-group date">
        {{ block('form_widget') }}
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
{% endspaceless %}
{% endblock %}

{% block devmachine_date_widget_inline %}
{% spaceless %}
    {{ block('hidden_widget') }}
    <div id="{{ id }}-calendar" data-date="{{ value }}"></div>
{% endspaceless %}
{% endblock %}

{% block devmachine_datetime_widget %}
{% spaceless %}
    {{ block('devmachine_date_widget') }}
{% endspaceless %}
{% endblock %}

{% block devmachine_typeahead_widget %}
{% spaceless %}
    {{ block('hidden_widget') }}

    {% set id = 'typeahead_' ~ id %}
    {% set full_name = 'typeahead_' ~ full_name %}
    {% set value = typeahead_value %}

    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock %}
